body {
  background-color: mistyrose;
}

h2 {
	font-family: Coronetscript, cursive;
	font-style: italic;
	color: cadetblue;
}

div {
	color: cadetblue;
}

p {
	font-family: Coronetscript, cursive;
}

#ui-label {
	font-family: Coronetscript, cursive;
}