body {
  background-color: mistyrose;
  display: flex;
  flex-direction: column;
}

h2 {
	display: flex;
	flex-direction: center;
	font-family: Coronetscript, cursive;
	font-style: italic;
	color: cadetblue;
}

h3 {
	display: block;
	flex-direction: center;
	flex-flow: column;
	font-family: Coronetscript, cursive;
	font-style: italic;
	color: cadetblue;
}

div {
	color: cadetblue;
}

p {
	font-family: Coronetscript, cursive;
}

.App > form > div > ui-segment {
	display: flex;
	font-family: Coronetscript, cursive;
}

.div > .ui-segment {
	display: flex;
	flex-direction: column;
}

